<img src="../../images/arrow-down.png" alt="">



<li id='${suggestion.objectId}' class="suggestion" >
    <img src="${suggestion.image}">
    <div class="s-details">
        <h3>${suggestion.name}</h3>
    </div>
</li>



function enableRegisterButton() {
    const registerButton = document.querySelector('.register-button');
    const inputs = document.querySelectorAll('.register-input');
  
    for (let input of inputs) {
      if (!input.classList.contains('valid')) {
        registerButton.setAttribute('disabled', true);
        return;
      }
    }
  
    registerButton.removeAttribute('disabled');
  }
  
  async function usernameInputHandler(ev) {
      const inputField = ev.target;
      const usename = ev.target.value;
      const errorField = document.querySelector('.incorrect-username-msg'); //paragraph
      const usernameIsTaken = false;
      //await usernameIsTaken(usename);
      if (usename.length < 3 || usename.length > 12) {
          errorField.textContent = 'Username must be between 3 and 12 characters long.'
          inputField.classList.add('invalid');
          inputField.classList.remove('valid');
      } else if (usernameIsTaken) {
          errorField.textContent = 'This username is already taken.'
          inputField.classList.add('invalid');
          inputField.classList.remove('valid');
      } else {
          errorField.textContent = ''
          inputField.classList.remove('invalid');
          inputField.classList.add('valid');
          enableRegisterButton();
      }
  };
  
  async function emailInputHandler(ev) {
      const inputField = ev.target;
      const email = inputField.value;
      const errorField = document.querySelector('.incorrect-email-msg'); 
      const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
      const emailIsTaken = false;
      //await usernameIsTaken(email);
      console.log(email);
      if (!email) {
          errorField.textContent = 'Email is required.'
          inputField.classList.add('invalid');
          inputField.classList.remove('valid');
        } else if (!emailRegex.test(email)) {
          errorField.textContent = 'Invalid email format.'
          inputField.classList.add('invalid');
          inputField.classList.remove('valid');
        } else if (emailIsTaken) {
          errorField.textContent = 'This email is already taken.'
          inputField.classList.add('invalid');
          inputField.classList.remove('valid');
      } else{
          errorField.textContent = ''
          inputField.classList.remove('invalid');
          inputField.classList.add('valid');
          enableRegisterButton();
      }
  }
  
  function passwordInputHandler(ev) {
      const inputField = ev.target;
      const password = ev.target.value;
      const errorField = document.querySelector('.incorrect-password-msg');
      passwordsMatchHandler();
  
      if (password.length < 4){
          errorField.textContent = 'Password must atleast 4 characters long.'
          inputField.classList.add('invalid');
          inputField.classList.remove('valid');
      } else {
          errorField.textContent = ''
          inputField.classList.remove('invalid');
          inputField.classList.add('valid');
          enableRegisterButton();
      }
  
  };
  
  function passwordsMatchHandler() {
      const password = document.getElementById('password');
      const rePassword = document.getElementById('rePassword');
      const errorField = document.querySelector('.incorrect-repeat-msg');
  
      if (password.value !== rePassword.value){
          errorField.textContent = 'Passwords do not match.'
          rePassword.classList.add('invalid');
          rePassword.classList.remove('valid');
      } else if (!rePassword){
          errorField.textContent = 'Repeat password is required.'
          rePassword.classList.add('invalid');
          rePassword.classList.remove('valid