#back-to-top-btn {
  display: inline-block;
  background-color: #8e47f8;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 24px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  border: none;
  transition: background-color .9s, opacity .9s, visibility .9s;
  opacity: 0;
}

#back-to-top-btn i {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  padding: 12px;
}

#back-to-top-btn:hover {
  cursor: pointer;
  background-color: #7126e0;
  ;
}

#back-to-top-btn.show {
  opacity: 1;
}

#arrows-up:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-6px);
}

;

.button {
  border: none;
  background-color: #8e47f8;
  color: #cac7ff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #7126e0;
  color: #fff;
}


.search-form button i {
  width: 12px;
}

#search-btn {
  border: 0;
  border-radius: 50%;
  background: none;
  opacity: 0.7;
  cursor: pointer;
  padding: 0;
}

#search-btn:after {
  content: none;
}


.search-form button[type="submit"]:hover {
  cursor: pointer;
}

.search-form:hover,
.search-form:focus-within {
  border-color: #8e47f8;
}

#search-btn i:hover {
  font-size: 1.1rem;
  font-weight: bold;
  color: #8e47f8;
}


.fa-search {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.pagination li:hover {
  background-color: #8e47f8;
}

.page-item.action a:hover,
.page-item.action a:hover #prev-page,
.page-item.action a:hover #next-page {
  color: #fff;
}

.active {
  background-color: #8e47f8;
}

.page-item.action.active a {
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 3%;
}

.page-item {
  border: 2px solid rgb(85, 85, 85);
  border-radius: 50%;
  margin: 0 4px;

}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: rgb(62, 62, 63);
  text-decoration: none;
}


.fa-caret-left,
.fa-caret-right {
  font-size: 18px;
  color: rgb(62, 62, 63);
}

#prev-page,
#next-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-all-btn:hover,
#reset-all-btn:hover span {
  background-color: #8e47f8;
  color: #fff
}

;