.button {
    border: none;
    background-color: #8e47f8;
    color: #cac7ff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #7126e0;
    color: #fff;
  }


  .search-form button i {
    width: 12px;
  }

  #search-btn {
    border: 0;
    border-radius: 50%;
    background: none;
    opacity: 0.7;
    cursor: pointer;
    padding: 0;
  }

  #search-btn:after {
    content: none;
  }
  
  
  .search-form button[type="submit"]:hover {
    cursor: pointer;
  }

  .search-form:hover,
.search-form:focus-within {
    border-color: #8e47f8;
}

#search-btn i:hover {
    font-size: 1.1rem;
    font-weight: bold;
    color: #8e47f8;
}


.fa-search {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 3%;
}

.pagination li {
  margin: 4px;
  padding: 4px 0;
  border: 2px solid rgb(85, 85, 85);
  border-radius: 6px;
}

.pagination li a {
  padding: 10px 35px;
  color: rgb(62, 62, 63);
}

.pagination li:hover {
  background-color: #8e47f8;
}

.pagination a:hover {
  color: white;
}

.active{
  font-size: 1.1rem;
  background-color: #8e47f8;
}

.page-item.action.active a {
  color: white;
}