.create-title {
    margin-bottom: 24px;
    font-size: 28px;
}

.create-section {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.create-form label {
    color: rgb(115 117 120);
}

.create-form select,
.create-form input,
.create-form textarea {
    color: rgb(41, 41, 43);
    border: 2px solid lightgray;
}

.create-form textarea {
    height: auto;
    min-height: 100px;
    resize: none;
}

.create-form select:hover,
.create-form select:focus,
.create-form input:hover,
.create-form textarea:focus,
.create-form input:focus,
.create-form textarea:hover {
    border: #8e47f8 2px solid;
    outline: none;
}

.create-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;
}


.create-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.create-type {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.create-form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

#create-type option[value="tvshow"]:selected~.create-tvshow-only {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    background-color: #8e47f8;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    margin-top: 8px;
    padding: 12px 20px;
}

.btn:hover {
    background-color: #7126e0;
}

.admin-edit-movie{
    background: #fff;
    margin-top: 6.5%;
    padding: 1.5%;
    border-radius: 1%;
    width: 31%;
}

#edit-movie-name{
    font-size: 1.6rem;
    color: #9656f5;
}



@media only screen and (max-width: 1080px){
    .create-section{
        width: 55%;
    }
}

@media only screen and (max-width: 720px){
    .create-section{
        width: 65%;
    }
}

@media only screen and (max-width: 600px){
    .create-section{
        width: 80%;
    }
    .create-form-group{
        margin-bottom: 4px;
    }
}

@media only screen and (max-width: 420px){
    .create-section{
        width: 92%;
    }

    .create-form-group{
        margin-bottom: 2px;
    }
}