.specific-movie-details {
  display: flex;
  flex-wrap: wrap;
  padding: 44px 32px 88px 32px;
  position: relative;
  width: 80%;
  margin: 0px auto 40px auto;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.movie-poster {
  width: 37%;
  margin-right: 50px;
}

.movie-poster img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;

}

.details-watchlist {
  font-size: 1rem;
  top: 3%;
  right: 1%;
}

#details-bookmark {
  background: #f5f5f5;
  color: #1c1c1c;
}

.add-to-watchlist:hover {
  background-color: #1c1c1c;
}

.specific-movie-info {
  width: 55%;
  padding-top: 28px
}

.specific-movie-info * {
  font-size: 16px;
  color: rgba(41, 41, 43, 0.753);
  text-align: justify;
  letter-spacing: 0.2px;
}

.details-movie-specifics{
  color: rgb(41, 41, 43);
  font-size: 18px;
  font-weight: 600;
}

.specific-movie-title,
.trailer-section h3 {
  color: rgb(41, 41, 43);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 52px;
}

.trailer-section h3 {
  margin-top: 40px;
}


.specific-movie-genre {
  margin-bottom: 5px;
}

.specific-movie-runtime,
.specific-movie-release-year {
  margin-bottom: 5px;
}

.specific-movie-description {
  line-height: 1.5;
}

.trailer-section {
  margin-top: 50px;
  width: 100%;
}

.trailer-video {
  width: 100%;
  height: 520px;
  border: none;
  border-radius: 10px;
}

.specific-movie-reviews {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 10px;
}

.specific-movie-reviews {
  padding: 20px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  border-radius: 12px;
  width: 80%;
  margin: 0 auto;
}

.reviews-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.review {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-info {
  display: flex;
  flex-direction: column;
}

.reviewer-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}


.review-body {
  font-size: 16px;
  line-height: 1.5;
}


.add-review-form {
  background-color: #F4F4F4;
  margin-bottom: 88px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.add-review-form h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.specific-form-group {
  margin-bottom: 15px;
}

.specific-form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}


.specific-form-group input,
.specific-form-group select,
.specific-form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #E5E5E5;
}

.submit-review-btn {
  padding: 10px 20px;
  background-color: #E50914;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease;
}


.select-menu{
  width: 260px;
  cursor: pointer;
  position: relative;
}

.select{
  background-color: rgb(31, 29, 29);
  padding: 8px 12px;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list{
  visibility: hidden;
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  padding: 2px 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: .4s linear .2s;
  height: 0;
}

.option{
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  transition: .3s ease-in-out;
}

.option:hover,
.option.selected{
  color: #e3e3f1;
  background-color: #8e47f8;
}

.options-list::-webkit-scrollbar{
  width: 4px;
  background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb{
  background-color: #8e47f8;
}

.options-list.active{
  visibility: visible;
  height: 180px;
  border: 2px solid;
  border-radius: 8px;
}