.about-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 14% 0;
    padding: 3% 4.5%;
  }
  
  .home-page {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .home-page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .home-page-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05); 
  }
  
  .about-section article {
    width: 80%;
    font-size: 18px;
    text-align: center;
    font-size: 1.3rem;
    margin: 6% 0;
    color: rgb(156, 161, 173);
  
  }
  
  .start-btn{
    border: none;
    background-color: #7c38e2;
    color: #cac7ff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  img{
    width: 100%;
  }
  

  
  .about-section h3{
    color: rgb(179, 187, 199);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    width: 92%;
  }

