body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.login-title,
.register-title  {
  margin-top: 0;
  margin-bottom: 60px;
  padding-top: 44px;
  color: #333;
  text-align: center;
}

.login-form,
.register-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 560px;
  padding: 36px 48px;
}

.login-label,
.register-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.login-input,
.register-input {
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: rgb(78, 76, 76);
  margin-bottom: 16px;
}

.login-input:focus,
.login-input:hover,
.register-input:focus,
.register-input:hover {
  border: 2px solid #8e47f8;
  outline: none;
}

.login-button, .register-button {
  background-color: #8e47f8;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.login-button:hover, .register-button:hover {
  background-color: #6a2cde;
}

.login-register-text,
.register-register-text {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.form-input-field{
  position: relative;
}

.login-register-link,
.register-login-link {
  color: #8e47f8;
  font-weight: bold;
  text-decoration: none;
}

.login-register-link:hover,
.register-login-link:hover {
  text-decoration: underline;
  color: #6a2cde;
}
.valid {
  border: 2px solid rgb(4 135 4 / 36%) !important;
  background: #0080000f;
  position: relative;
}

.invalid {
  border: 2px solid #ed191999 !important;
  background: #ff00000d;
  position: relative;
};

.login-error {
  color: #fc2b2b;
    margin-top: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -16px;

}

.incorrect-username-msg,
.incorrect-email-msg,
.incorrect-password-msg,
.incorrect-repeat-msg{
  color: #fc2b2b;
  font-size: 13px;
  font-weight: bold;
  margin: -12px 0 10px 1px;
}
.icon-container{
    position: absolute;
    right: 3%;
    top: 60%;
    transform: translateY(-50%);
}

.register-input.invalid ~ .icon-container .fa-triangle-exclamation {
  display: inline-block;
  color: #fc2b2b; 
}

.register-input.valid ~ .icon-container .fa-circle-check {
  display: inline-block;
  color: rgb(13 173 13 / 76%);
}

.icon-container i {
  display: none;
  font-size: 1.3em;
};


