#notification {
    position: fixed;
    top: 39%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.1% 2.3%;

    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: -1;
  }

  #notification.show {
    opacity: 1;
    z-index: 1;
  }
  
  #notification:hover{
    cursor: pointer;
  }

  .notification-green{
    background-color: #05ab05;
  }

  .notification-red{
    background-color: rgb(165, 15, 15);
  }