.leaderboard * {
    color: rgb(55, 55, 56);

}

.popular-movies {
    padding: 30px 0;
}

.leaderboard {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

.leaderboard:last-child {
    margin-bottom: 40px;
}

.movie-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.movie-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}


.movie-details {
    display: flex;
    align-items: center;
    flex: 10;
}

.movie-thumbnail {
    flex: 1;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-thumbnail img {
    width: 100%;
    height: auto;
}

.movie-text {
    flex: 2.3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
}

.popular-movie-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 8px;

}

.popular-movie-title:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.title-anchor {
    align-self: center;
}


.movie-meta {
    margin: 0;
    margin: 0.35rem;
}

.popular-movie-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.movie-score {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-right: 12px;
}

.rate-button {
    background-color: #ffbf00c2;
    text-decoration: none;
    border: none;
    padding: 3px 14px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px;
}

.rate-button:hover {
    background-color: #ffbf00f8;
    font-weight: bold;
    color: rgb(255, 250, 250);
}

.movie-description {
    margin-bottom: 0.25rem;
}

.movie-cast {
    margin: 0;
    margin-bottom: 0.25rem;
    overflow: hidden;
}


.movie-watchlist {
    flex: 1;
    text-align: right;
}

.add-to-watchlist {
    border: none;
    position: absolute;
    top: 4%;
    right: 0;
    font-size: 0.8rem;
    background-color: inherit;
}

.add-to-watchlist:hover {
    background-color: inherit;
}

#bookmark {
    color: rgb(54, 52, 52);
    background-color: inherit;
}

#bookmark-checked {
    background-color: inherit;
    color: rgb(10 151 27 / 67%);
}

#plus,
#check {
    color: rgb(221, 217, 217);
    line-height: 1.5;
}


#plus:hover,
#check:hover {
    color: white;
    cursor: pointer;
    background-color: inherit;
}

.fa-star {
    color: #fbbc05
}



@media only screen and (max-width:940px) {
    .movie-container {
        padding: 16px;
    }

    .movie-text {
        flex: 2;
    }



    a.more-info-btn {
        width: auto;
        padding: 6px 12px;
    }

    .movie-text p {
        font-size: 14px;
    }
}

@media only screen and (max-width:800px) {
    .movie-text p {
        width: 112%;
        margin-left: 12%;
        font-size: 13px;
    }

    .movie-score {
        display: flex;
        align-items: center;
        margin-left: 0 !important;
    }

    #popular-rating-star {
        margin-right: 9%;
    }

}

@media only screen and (max-width:700px) {
    .popular-movie-title {
        font-size: 20px;
    }

    .movie-text p {
        width: 112%;
        margin-left: 12%;
        font-size: 12px;
    }

    .add-to-watchlist {
        font-size: 0.7rem;
    }

    .movie-text {
        flex: 1.8;
    }

    .movie-thumbnail {
        flex: 1.2;
    }

}

@media only screen and (max-width:600px) {
    .movie-text {
        flex: 1.3;
    }

    .more-info-btn {
        align-self: center;
    }

    .add-to-watchlist {
        font-size: 0.6rem;
    }

    .rate-button,
    a.more-info-btn {
        font-size: 12px;
    }
}

@media only screen and (max-width:500px) {
    .movie-text p {
        width: 129%;
        margin-left: 19%;
        font-size: 11px;
    }

    .popular-movie-title {
        font-size: 18px;
    }

    .add-to-watchlist {
        font-size: 0.5rem;
    }

    .movie-text {
        flex: 1;
    }

    .movie-container {
        padding: 8px;
    }
}

@media only screen and (max-width:440px) {
    .movie-details {
        flex-direction: column;
        flex: initial;
    }

    .movie-thumbnail {
        margin-right: 0;
        margin-bottom: 2%;
    }

    .add-to-watchlist {
        font-size: 0.8rem;
        top: 2.2%;
    }

    .movie-text p {
        width: 100%;
        margin-left: 1%;
        font-size: 11.5px;
    }

    .movie-container {
        padding: 12px;
        width: 82%;
        margin: 3% auto
    }

    a.more-info-btn {
        width: 40%;
        margin-top: 1.5%;
    }

    #bookmark-checked {
        color: rgba(15, 153, 31, 0.89);
    }
}

@media only screen and (max-width:340px) {
    .add-to-watchlist {
        font-size: 0.7rem;
        top: 2.1%;
    }

    a.more-info-btn {
        width: 46%;
    }

    .movie-container {
        width: 90%;
        padding: 8px;
    }

    .popular-movie-title {
        font-size: 17px;
    }
}