.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 3%;
}

.sub-menu-wrap,
.sub-menu-options-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 280px;
    background-color: #fff;
    box-shadow: 0 8px 24px;
    border-radius: 6px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 2;
}

.sub-menu-wrap.open-menu,
.sub-menu-options-wrap.open-menu {
    max-height: 335px;
}

.sub-menu-wrap *,
.sub-menu-options-wrap * {
    color: rgb(43, 43, 44);

}

.fa-wrench {
    font-size: 16px;
    opacity: 0.8;
}

.sub-menu,
.sub-menu-options {
    padding: 12px;
    margin: 10px;
}

.user-info,
.nav-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr,
.sub-menu-options hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 12px 0 10px 0;
}

.sub-menu a,
.sub-menu-options a {
    padding: 8px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 6px 0;
}

.sub-menu-link p {
    width: 100%;
    font-weight: 500;
}

.sub-menu-link i {
    width: 36px;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin-right: 15px;
    padding: 0.5rem;
    opacity: 0.8;
}

.sub-menu-link span {
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}